@{
    ViewData["Title"] = "CONTOSO";
}


<div class="jumbotron alert-danger">
    <h2 class="center">Antes de Registrarte, crea un Rol de Administrador.</h2>

    <h4> Utiliza el siguiente nombre para el rol: Admin</h4>
    <br />
    <p>
        <a class="btn btn-success btn-lg" asp-area="" asp-controller="Role" asp-action="Index">Crear</a>
    </p>
</div>

